body{
    margin:0;
font-family:Arial, sans-serif;
background:#f5f5f5;
}

.top{
align-items:center;
padding:15px;
background:#fff;
}


.logo{
color:#e6007e;
}


.btn{
background:#6ab3e2;
color:white;
padding:10px 18px;
text-decoration:none;
border-radius:8px;
}


.banner{
background:#ffe6f2;
text-align:center;
padding:30px;
margin:15px;
border-radius:20px;
}


.pedido{
background:#fff;
margin:15px;
padding:20px;
border-radius:20px;
text-align:center;
}


.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
}


.card{
background:#f0f0f0;
padding:25px;
border-radius:50%;
font-weight:bold;
}


.descarga,.subida{
background:#fff;
margin:15px;
padding:20px;
border-radius:20px;
text-align:center;
}


footer{
background:#a61c7e;
color:white;
text-align:center;
padding:15px;
}